@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Open Sans', sans-serif;
    --font-serif: 'Wittgenstein', serif;

    --color-primary: #F0EBE4;
    --color-primary-dark: #E0D5C1;

    --color-secondary: #2D3832;
    --color-secondary-dark: #1F2620;
}
